@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95);
  border-radius: 2px;
}
