@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

:root {
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
